<div class="card" style="width: 250px; height: 300px;">
  <img class="card-img-top" src="{{imagePath}}" alt="Card image cap" style="height: 140;">
  <div class="wrapper" *ngIf="showMovieTrailer" style="margin: 0 auto; margin-top: 3px;">
    <iframe
      class="embed"
      [src]="movieVideoUrl | trustfull"
      frameborder="1"
      modestbranding="1"
      rel="0"
      allowfullscreen
      width="240"
      height="150"
    >
    </iframe>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{movie['title']}}</h5>
    <p class="card-text">{{movie['overview'] | slice: 0 : 130}}...</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

