// Mixins...

@mixin hoverTitle {
  &:hover {
    opacity: 1;
    transition: 0.3s;
    background-color: lighten($color: $headerBlue, $amount: 60);
  }
}

@mixin mQ($arg) {
  @if length($arg) == 1 {
    @media screen and (max-width: nth($arg, 1)) {
      @content;
    }
  }
}
