@import "../../../../assets/scss/_mixins";
@import "../../../../assets/scss/_variables";

//sass --watch src/app/header/header.component.scss src/app/header/header.component.css

.header {
  font-family: Arial;
  background-color: $headerBlue;
  padding: 10px;
  text-align: center;

  .home {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 10px;
    @include hoverTitle;
    @include mQ(1000px) {
      width: 100%;
      text-align: center;
    }
  }

  .popular-movies {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    @include hoverTitle;
  }

  .form-control {
    width: 30%;
    @include mQ(1000px) {
      width: 80%;
    }
  }
  .btn {
    width: 20%;
    @include mQ(1000px) {
      width: 15%;
    }
  }
}
