@import "../../variables";
@import "../../mixins";

// sass --watch src/app/searched-movie/movie-details/movie-details.component.scss src/app/searched-movie/movie-details/movie-details.component.css

.col-md-7,
.col-md-3 {
  padding: 10px 0px;
}

.card {
  width: 100%;
  text-align: center;
  .div-img {
    text-align: center;
    img {
      width: 50%;
    }
  }
}
