<div class="row">
  <div class="card">
    <div class="div-img">
      <img class="card-img-middle" [src]='posterUrl' alt="Card image cap" />
    </div>
    <div class="card-body">
      <h2 class="card-title"> {{movieDetails['title']}} </h2>
      <p class="card-text"> {{movieDetails['overview']}} </p>
      <div class="col-xs-12" style="text-align: center;">
        <a href="#" class="btn btn-success">See Related Movies</a>
        <a href="#" class="btn btn-primary">See More Information</a>
      </div>

    </div>
  </div>
</div>
