@import "../../variables";
@import "../../mixins";
// sass --watch src/app/searched-movie/movie-details/movie-details.component.scss src/app/searched-movie/movie-details/movie-details.component.css
.col-md-8, .col-md-4{
  padding: 10px 0px;
}



.card {
  // @include mQ(1250px) {
  //   width: 100%;
  // }
  width: 100%;
  text-align: center;
  .div-img {
    text-align: center;
    img {
      width: 50%;
    }
  }
}
