@import '../../../../assets/scss/_mixins';
@import '../../../../assets/scss/_variables';


//sass --watch src/app/searched-movie/movie-details/movie-similar/movie-similar.component.scss src/app/searched-movie/movie-details/movie-similar/movie-similar.component.css
.col-md-12 {
  padding: 0px 5px;

  h2 {
    text-align: center;
    padding-top: 6px;
  }

  img {
    border-radius: 5px;
    margin-top: 5px;
    width: 35%;
  }

  .goto-page {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
  }
}
