@import '../../../../assets/scss/_mixins';
@import '../../../../assets/scss/_variables';

.preview-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(220px, 100%), 1fr));
  grid-gap: 5px 0px;
}
