@import '../../../../assets/scss/_mixins';
@import '../../../../assets/scss/_variables';

#on-cinema {
  text-align: center;

  span {
    padding: 0 10% 5px 10%;
    border-radius: 20px;
  }

  span:hover {
    background-color: rgb(223, 223, 223);
  }
}

.preview-background {
  background-color: lightgrey;
  border-radius: 20px;
  padding-top: 20px;

  &>.preview-container {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(220px, 100%), 1fr));
    grid-gap: 5px 30px;
    text-align: center;
    margin: 0 auto;
  }
}
