<ng-template #movieslide let-slideNumber="slideNumber">
  <div
    class="previews"
    [ngClass]="{
      '-current': isCurrentSlide(slideNumber)
    }"
  >
    <div class="preview-wrapper" *ngFor="let movie of getMovieSlides(slideNumber)">
      <app-movie-preview [movie]="movie"></app-movie-preview>
    </div>
  </div>
</ng-template>

<h1 id="on-cinema"><span>On the cinema:</span></h1>
<hr />
<div class="preview-background">
  <div class="row">
    <div class="col-md-1">
      <div
        class="arrow backarrow"
        [inlineSVG]="'../../../../assets/img/icons/angle-line.svg'"
        (click)="back()"
      ></div>
    </div>

    <div class="col-md-10">
      <div class="preview-container">
        <div class="slides" *ngFor="let slideNumber of slides">
          <ng-container
            [ngTemplateOutlet]="movieslide"
            [ngTemplateOutletContext]="{ slideNumber: slideNumber }"
          >
          </ng-container>
        </div>
      </div>
    </div>

    <div class="col-md-1">
      <div
        class="arrow nextarrow"
        [inlineSVG]="'../../../../assets/img/icons/angle-line.svg'"
        (click)="next()"
      ></div>
    </div>
  </div>
</div>
