@import "../../../../assets/scss/_mixins";
@import "../../../../assets/scss/_variables";

.movie-title {
  background-color: lighten($color: $textBlue, $amount: 70);
  padding: 20px;

  &>.card-header {
    background-color: white;
    border-radius: 5px;

    &>h1 {
      text-align: center;
      margin: 0;
      padding: 0;
      font-weight: 1000;
      font-size: xx-large;
      color: $textBlue;
    }

    &>h4 {
      text-align: center;
      color: $textBlue;
    }
  }

  &>img {
    margin: 0 auto;
    width: 90%;
    border-radius: 20px;
  }
}

.movie-info {
  &>.card-header {
    &>h2 {
      text-align: center;
      margin: 0;
      padding: 0;
      font-weight: 600;
      font-size: x-large;
      color: $textBlue;
    }

    &>h4 {
      padding-top: 4px;
      text-align: center;
    }
  }

  &>.card-body>.card-text {
    font-size: large;
    font-weight: 700;
    color: rgb(16, 97, 0);
  }
}

.collection-info>.card-header>img {
  width: 200%;
  border-radius: 10px;
}
