@import '../assets/scss/_mixins';
@import '../assets/scss/_variables';
@import '../assets/scss/animations/fade-in.scss';

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

.main-container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
  background-color: rgb(236, 236, 236);
  /* height of footer */

  section {
    .col-md-12 {
      //global fade-in
      animation: fadeIn;
      animation-duration: 1s;
    }
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

    @include mQ(1500px) {
      width: 100%;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
