<div class="row">
  <div class="col-md-12">
    <div class="col-md-9">
      <div class="card">
        <div class="row">
          <div class="col-sm-4">
            <img
              class="img-fluid card-img-middle"
              [src]="posterUrl"
              alt="Card image cap"
            />
          </div>
          <div class="col-sm-8">
            <p class="card-title">{{ movieDetails["title"] }}</p>
            <p class="card-text">{{ movieDetails["overview"] }}</p>
            <div class="col-xs-12  btns" style="text-align: center;">
              <a
                (click)="movieFeature('similar-movies')"
                class="btn btn-success"
                >See Related Movies</a
              >
              <br>
              <a
                (click)="movieFeature('movie-information')"
                class="btn btn-primary"
                >See More Information</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
