<div class="row">
  <div class="col-md-12">
    <div class="col-md-8">
      <div class="card">
        <div class="div-img">
          <img
            class="img-fluid card-img-middle"
            [src]="posterUrl"
            alt="Card image cap"
          />
        </div>
        <div class="card-body">
          <h2 class="card-title">{{ movieDetails["title"] }}</h2>
          <p class="card-text">{{ movieDetails["overview"] }}</p>
          <div class="col-xs-12" style="text-align: center;">
            <a (click)="movieFeature('similar-movies')" class="btn btn-success"
              >See Related Movies</a
            >
            <a
              (click)="movieFeature('movie-information')"
              class="btn btn-primary"
              >See More Information</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
