@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/_variables";
// sass --watch src/app/searched-movie/movie-details/movie-details.component.scss src/app/searched-movie/movie-details/movie-details.component.css

.col-md-9 {
  & .card {
    width: auto;
    border-radius: 15px;
    padding: 0px;

    &>.row>.col-sm-4>img {
      padding: 10px;
      border-radius: 15px;
      width: auto;
    }

    &>.row>.col-sm-8>.card-title {
      font-size: xx-large;
      padding-top: 15px;
      font-weight: 700;
      color: $textBlue;
    }

    &>.row>.col-sm-8>.card-text {
      padding: 15px;
      font-size: large;
      font-weight: 400;
      white-space: normal;
    }

    &>.row>.col-sm-8>.btns {
      padding-bottom: 15px;
      text-align: center;

      &>.btn {
        border-radius: 10px;
        color: white;
        font-size: large;
        padding: 5px;
        margin-bottom: 5px;
        background-color: $textBlue;

        &:hover {
          background-color: lighten($textBlue, 20%);
        }
      }
    }
  }
}
