@import "../variables";
@import "../mixins";

.col-md-3 {
  .searched-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .page-title {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    @include hoverTitle;
  }

  .searched-box {
    text-align: left;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    text-align: center;
    // @include mQ(1350px) {
    //   width: 100%;
    // }
  }
  .searched-movies {
    @include hoverTitle;
  }
}
