@import "../../../../assets/scss/_mixins";
@import "../../../../assets/scss/_variables";

.col-md-12 {
  .searched-box {
    width: 100%;
    margin: 0;
    padding: 10px;
    float: center;
    text-align: center;

    .searched-movies {
      white-space: normal;
      font-size: medium;
      text-align: center;
      margin: 0 auto;
      @include hoverTitle;
    }
    .page-title {
      font-weight: bold;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      border-radius: 5px;
      @include hoverTitle;
    }
  }
  .wrapper {
    text-align: center;
    ul {
      display: inline-block;
      margin: 0;
    }
    a{
      cursor: pointer;
    }
  }
}
