<div class="row">
  <div class="col-md-12">
    <div class="wrapper">
      <ul class="pagination">
        <li><a (click)="onPreviousPage()">«</a></li>
        <li *ngFor="let page of totalPagesArray  | slice: 0:20"><a (click)="onPageNumberClick()">{{page}}</a></li>
        <li><a (click)="onNextPage()">»</a></li>
      </ul>
    </div>

    <!-- <button class="btn btn-dark" (click)="onPreviousPage()">Previous Page</button>
    <button class="btn btn-dark" (click)="onNextPage()">Next Page</button> -->
    <div class="searched-box">
      <h3 class="page-title">
        {{ pageTitle }}
      </h3>
      <button
        class="btn btn-light searched-movies"
        *ngFor="let movie of movies; let i = index"
        routerLink="{{ movie['id'] }}"
        routerLinkActive="active"
      >
        {{ movie.title }}
      </button>
    </div>
  </div>
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
