<div class="row">
  <div class="col-md-12">
    <div class="wrapper">
      <ul class="pagination">
        <!-- <li>
          <a
            (click)="pageNumber = pageNumber - 1"
            routerLink="/pop-movies"
            [queryParams]="{ page: pageNumber }"
            routerLinkActive="active"
            >«</a
          >
        </li> -->
        <li *ngFor="let page of totalPagesArray">
          <a
            routerLink="/pop-movies"
            [queryParams]="{ page: page }"
            routerLinkActive="active"
            (click)="pageNumber = page"
            >{{ page }}</a
          >
        </li>
        <!-- <li>
          <a
            (click)="pageNumber = pageNumber + 1"
            routerLink="/pop-movies"
            [queryParams]="{ page: pageNumber }"
            routerLinkActive="active"
            >»</a
          >
        </li> -->
      </ul>
    </div>
    <div class="searched-box">
      <h3 class="page-title">
        Showing Popular Movies
      </h3>
      <button
        class="btn btn-light searched-movies"
        *ngFor="let movie of movies; let i = index"
        routerLink="{{ movie['id'] }}"
        routerLinkActive="active"
      >
        {{ movie.title }}
      </button>
    </div>
  </div>
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
