<div class="row">
  <div class="col-md-12">
    <div class="wrapper pagination-wrapper">
      <ul class="pagination">
        <li *ngFor="let page of totalPagesArray">
          <a routerLink="/pop-movies" [queryParams]="{ page: page }" routerLinkActive="active"
            (click)="pageNumber = page">{{ page }}</a>
        </li>
      </ul>
    </div>
    <div class="searched-box">
      <h3 class="page-title">
        Showing Popular Movies
      </h3>
      <button class="btn btn-light searched-movies" *ngFor="let movie of movies; let i = index"
        routerLink="{{ movie['id'] }}" routerLinkActive="active">
        {{ movie.title }}
      </button>
    </div>
  </div>
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>
